.App {
  position: sticky;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Buttone1 {
  position: relative;
  left: -24px;
  top: 20px;

}

.Buttone2 {
  position: relative;
  left: 40px;
  bottom: 18px;

}

.App_titolo {
  position: relative;
  top: 50px;
}

.input {
  position: relative;
  top: 10px;

}

.input_1 {
  position: relative;
  top: 10px;

}

.Buttone3 {
  position: relative;
  top: 100px;
}

.App_inzio {
  top: 10px;
  position: relative;

}

.App_fine {
  position: relative;
  top: 10px;
}

.barra {
  position: relative;
  top: 10px;
}

.barra1 {
  position: relative;
  top: 20px;

}

.barra2 {
  position: relative;
  top: 300px;
}

.iii {
  position: static;
  width: 100%;
}

.UserNametex {
  position: relative;
  top: 0px;

}

.Passwordtex {
  position: relative;
  top: 0px;
}

.UserName {
  position: relative;
  top: 20px;
  right: 25px;
}

.Password {
  position: relative;
  top: 40px;
  right: 16px;
}

.BouttonSignin {
  position: relative;
  top: 0px;


}

.aa {
  font-family: sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  height: 400px;

  background-color: white;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin: 0 auto;
  width: auto;
  top: 50px;
  



}

.titolo {
  font-size: 25px;
  margin-bottom: 20px;
}

.wwww {
  color: white;
  position: relative;
  top: 670px;
  left: 12px;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: black;
  box-sizing: content-box;


}

.CP {
  position: relative;
  font-family: sans-serif;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  height: 500px;

  background-color: white;
  padding: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin: 0 auto;
  width: auto;
  top: 50px;
}

.titolo1 {
  position: relative;
  font-size: 30px;
}

.UserNamet {
  position: relative;

}

.Passwordt {
  position: relative;

}

.aministratore {
  position: sticky;
  right: 2000px;
}
.p{
  position: relative;
  width: 35px;
  height:35px;
  top: 30px;
  border-radius: 25px 25px;
  border: 1px solid #bbb;
  background-color: white;
  color: black;
  font-size: 130%;
}
.p:hover{
  background-color: #bbb;
}
hr{
  width: 100%;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  border-width: 2px;
  border-color: black;
}
hr:not([size]){
  height: 4px;
}

.Automatico{
  display: flex;
  width: 99%;
}
.Manuale{
  display: flex;
  width: 99%;
}

.aa1{
  position: relative;
}
.tabella{
border: 2px solid;
padding: 10px;
text-align: -webkit-center;
}
.prova2{
  border: 2px solid;
  padding: 10px;
  text-align: center;
}
.Button{
  width: 200px;
}
.prova{
  position: relative;
  top: 20px;
  }
  .isOnline {
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid white;
    border-radius: 100%;
  }
  .isOffline {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid white;
    text-align: center;
    border-radius: 100%;
  }
  .input_ESP
  {
    position: relative;
    top: -60px;
  }
  .ccccc
  {
  font-family: sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  height: 200px;

  background-color: white;
  padding: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 1px;
  margin-right: 1px;
  top: 10px;
  right: 400px;
  }
  .input_check
  {
    position: relative;
    top: -50px;
  }
  .pppp
  {
    position: relative;
    top: -49px;
    right: 40px;
  }
  .ip
  {
    position: relative;
    top: -120px;
    right: 46px;
  }
  .mac
  {
    position: relative;
    top: -115px;
    right: 18px;
  }
  .casellaAuto
  {
    position: relative;
    right: 55px;
    top: -120px;
  }
  .casellaManu
  {
    position: relative;
    position: relative;
    top: -100px;
    left: 260px;
  }
  .bottoneManu
  {
    position: relative;
    left: 157px;
    width: 100px;
    top: -14px;
  }
  .bottoneAuto
  {
    position: relative;
    right: 30px;
    width: 100px;
    top: 25px;
  }