.App {
  position: sticky;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Buttone1 {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: auto;

}

.Buttone2 {
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 5px;
}

.App_titolo {
  position: relative;
  top: 50px;
}

.input {
  position: relative;
  top: 10px;

}

.input_1 {
  position: relative;
  top: 10px;

}

.Buttone3 {
  position: relative;
  top: 100px;
}

.App_inzio {
  top: 10px;
  position: relative;

}

.App_fine {
  position: relative;
  top: 10px;
}

.barra {
  position: relative;
  top: 10px;
}

.barra1 {
  position: relative;
  top: 20px;

}

.barra2 {
  position: relative;
  top: 300px;
}

.iii {
  width: auto;
}

.UserNametex {
  position: relative;
  top: 0px;

}

.Passwordtex {
  position: relative;
  top: 0px;
}

.UserName {
  position: relative;
  top: 20px;
  right: 25px;
}

.Password {
  position: relative;
  top: 40px;
  right: 16px;
}

.BouttonSignin {
  position: relative;
  top: 0px;


}

.aa {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 360px;
  background-color: white;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: fit-content;

}

.titolo {
  font-size: 25px;
  margin: auto;
}

.wwww {
  color: white;
  position: relative;
  top: 670px;
  left: 12px;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: black;
  box-sizing: content-box;


}

.CP {
  position: relative;
  font-family: sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1px;
  height: 500px;

  background-color: white;
  padding: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 50px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: auto;
  width: fit-content;

}

.titolo1 {
  position: relative;
  font-size: 30px;
}

.UserNamet {
  position: relative;

}

.Passwordt {
  position: relative;

}

.aministratore {
  position: sticky;
  right: 2000px;
}
.p{
  position: relative;
  width: 35px;
  height:35px;
  top: 30px;
  border-radius: 25px 25px;
  border: 1px solid #bbb;
  background-color: white;
  color: black;
  font-size: 130%;
}
.p:hover{
  background-color: #bbb;
}
hr{
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  border-width: 2px;
  border-color: black;
  height: 5px;
  width: 290px;
  opacity: 100;
}
h2
{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Automatico{
  display: flex;
  width: 99%;
}
.Manuale{
  display: flex;
  width: 99%;
}

.aa1{
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  width: fit-content;
}
.tabella{
border: 2px solid;
padding: 10px;
text-align: -webkit-center;
}
.prova2{
  border: 2px solid;
  padding: 10px;
  text-align: center;
}
.Button{
  width: 200px;
}
.prova{
  display: grid;
  justify-items: center;
  margin-top: 20px;

}
.isOnline {
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid white;
    border-radius: 100%;
}
.isOffline {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid white;
    text-align: center;
    border-radius: 100%;
}
.input_ESP
{
    margin: 5px auto 5px auto;
}
.ccccc
{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 200px;

  background-color: white;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.input_check
{
  margin: auto auto 5px 0px;
  display: block;
}
.pppp
{
  position: relative;
  display: flex;
}
  .ip
  {
    margin: auto  auto 5px 0px;
  }
  .mac
  {
    margin: auto auto 5px 0px;
  }
  .casellaAuto
  {
    margin: auto;
  }
  .casellaManu
  {
    margin: auto;
  }
  .bottoneManu
  {
    width: 40%;
    margin: auto 5px;
  }
  .bottoneAuto
  {
    width: 48%;
    margin: auto 5px;
  }
  .icona{
    position: relative;
    top: -50px;
  }
  .temperatura{
    position: relative;
    top: -45px;
  }
  .Precipitazioni{
    position: relative;
    top: -35px;
  }
  .componenteAutoManu
  {
    display: flex;
  }
  .ccccc1
  {
  font-family: sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  height: 100px;

  background-color: skyblue;
  padding: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin-bottom: 4px;
  margin-top: 30px;
  margin-left: 4px;
  margin-right: 4px;
  top: 10px;
  right: auto;
  }
  .ccccc2
  {
  height: 100px;
  background-color: skyblue;
  padding: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  }
.Menu
{
  display: grid;
  justify-items: center;
}
.Manuale1{
  display: flex;
}


.contenitore{
  width: 100vw;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
;
}
.finestra {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: white;
  padding-top: 20px;
  display: flex;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px black;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.finestra button {
  color: white;
  text-decoration: none;
  padding: 1px 20px;
  
}

.titolo{
  margin: 1px;
}

.finestra hr{
  margin: 5px;
  width: auto;
  height: 3px;
}
.finestra label{
  position: relative;
  left: 5px;
}
.manu{
  margin: 5px;
}


